<!DOCTYPE html>
<html lang="en" ng-app="employeeApp">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <link rel="stylesheet" href="css/stylesheet.css"/>
    <script src="json/employeeInfo.json"></script>
    <script src="js/employeeApp.js"></script>
</head>
<body ng-cloak>
<h1>Employee Database Management</h1><br>

  <div ng-controller="employeeController as employeeCtrl">
<br>
    <form name="employeeForm">
                 <input type="text" ng-model="employeeCtrl.employee.firstname"/>
                   <label>Employee First Name</label><br>
                 <input type="text" ng-model="employeeCtrl.employee.lastname"/>
                   <label>Employee Last Name</label><br>
                 <input type="text" ng-model="employeeCtrl.employee.middlename"/>
                   <label type="text">Employee Middle Name</label><br>
                 <input type="number" ng-model="employeeCtrl.employee.age"/>
                   <label>Employee Age</label><br>

                 <select ng-model="employeeCtrl.employee.designation">
                       <option value="Senior Manager">Senior Manager</option>
                       <option value="Assistant Manager">Assistant Manager</option>
                       <option value="Lead">Lead</option>
                       <option value="Senior Consultant">Senior Consultant</option>
                       <option value="Consultant">Consultant</option>
                 </select>
                   <label type="text">Employee Designation</label><br>

                 <input type="number" ng-model="employeeCtrl.employee.salary"/>
                   <label>Salary</label><br>
    </form>
<br/>

        	<div>
                <label>Employee Number:</label>
                <input type="number" ng-model="employeeCtrl.employee.number"/>
                <br>
    			<button class="btn btn-default" value="add" ng-submit=""/>ADD</button>
    			<button class="btn btn-default"/>EDIT</button>
    			<button class="btn btn-default">DELETE</button>
        	</div>
<br/>
          <div>
            <h7><label>Number:</label>{{employeeCtrl.employee.number}}
            <label>Name:</label>{{" " + employeeCtrl.employee.lastname + ", "}}{{employeeCtrl.employee.firstname}} {{employeeCtrl.employee.middlename}}
            <label>Age:</label>{{employeeCtrl.employee.age|number}}
            <label>Position:</label>{{" " + employeeCtrl.employee.designation}}
            <em><label>Salary:</label>{{employeeCtrl.employee.salary|currency}}</em></h7>
          </div>
  </div>


</body>
<html>
