<!DOCTYPE html>
<html lang="en" ng-app="employeeApp">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <link rel="stylesheet" href="css/stylesheet.css"/>
<!--    <script src="js/script.js"></script>-->
</head>
<body ng-controller="employeeController as employeeCtrl">

    <form>
		<div>
    		<input type="text" ng-model="employees.number">
    			<label>Employee Number</label>
    		<input type="text" ng-model="employee.firstname">
    			<label>Employee First Name</label>
    		<input type="text">
    			<label>Employee Last Name</label>
    		<input type="text">
    			<label type="text">Employee Middle Name</label>
            <select ng-model="employee.age">
                <label>Employee Age</label>
            <input>
                <label type="text">Employee Designation</label>
            <input>
                <label>Salary</label>
		</div>
<div>{{"employeeController.number"}}</div>
    	<div>
			<input class="btn btn-default" type="submit" value="Add"/>
			<input class="btn btn-default" type="reset" value="Edit"/>
			<button class="btn btn-default" ng-click="myForm.sendToTadmar()">Delete</button>
    	</div>

		<div>
			<div>{{"employees.number"}}</div>
			<div>{{"employee.firstname"}}</div>
			<div>{{employees.lastname}}</div>
			<div>{{employee.middlename}}</div>
			<div>{{employees.age}}</div>
            <div>{{employee.designation[0]}}</div>
            <div>{{employees.salary|currency}}</div>
		</div>
    </form>

<script>
    var employeeInfo = [
        {number: "1"} ,
        firstname: "John" ,
        lastname: "Doe" ,
        middlename: "Z" ,
        age: "26" ,
        designation: [ { "Senior Manager" }
                        ,{ "Assistant Manager" }
                        ,{ "Lead" }
                        ,{ "Senior Consultant" }
                        ,{ "Consultant" }
                    ] ,
        salary: "55000"
    ]

    var app = angular.module("employeeApp",[])
        app.controller("employeeController", function(){
            this.employee = employeeInfo ;

        });
</script>
</body>
<html>
