<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
</head>
<body class="container" ng-app="myapp"><br/>
	<div ng-controller="MyController" >
	  <form>
	    <input type="text" id="name" ng-model="myForm.name" ng-minlength="5" ng-maxlength="12"> Name <br/>

	    <select ng-model="myForm.car">
	      <option value="nissan">Nissan</option>
	      <option value="toyota">Toyota</option>
	      <option value="fiat">Fiat</option>
	    </select>

	    <button ng-click="myForm.submitTheForm()">Submit Form</button>
	  </form>

	  <div>
	    {{myForm.name}}
	  </div>
	  <div>
	    {{myForm.car}}
	  </div>
	</div>

	<script>
	  angular.module("myapp", [])
	     .controller("MyController", function($scope, $http) {
	       $scope.myForm = {};
	       $scope.myForm.name = "Jakob Jenkov";
	       $scope.myForm.car  = "nissan";

	     $scope.myForm.submitTheForm = function(item, event) {
	       console.log("--> Submitting form");
	       var dataObject = {
	          name : $scope.myForm.name
	          ,car  : $scope.myForm.car
	       };

	       var responsePromise = $http.get("http://localhost:5984/employeeinfo/a95c1d14c7f442e6028be511e606b97b");
	       responsePromise.success(function(dataFromServer, status, headers, config) {
	          console.log(dataFromServer.title);
	       });
	        responsePromise.error(function(data, status, headers, config) {
	          alert("Submitting form failed!!");
	       });
	     }

	  });
	</script>
</body>
</html>
