[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
    color: grey;
    background-color: black;
    margin: 3em 5em;
}
caption {
   color: #ffe8e8;
   font: sans serif;
   letter-spacing: 1px;
}
tr, td, th {
  border: 1px solid #555;
  padding: 2px 16px;
}
tr td .isSelected {
    color: black;
    background-color: red;
}
tr:hover{
    color: black;
    background-color: #ffe8e8;
}
.table-container {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    white-space: nowrap;
    color: #ffe8e8;
    margin-left: .5in;
}
#top, #bottom {
    position: fixed;
    left: .5in;
    overflow: hidden;
    border-radius: 15px;
}
#top {
    background-color: #222;
    height: 3.5in;
    padding-right: .5in;
}
#bottom {
    top: 4in;
    background-color: #111;
    height: 3.6in;
    width: 659px;
}
.forminterface {
  position:relative;
  margin: 0in 0.5in;
  color: black;
}
.leftforminterface    {
  position:absolute;
  top:.5;
  left:.5;
  width:200px;
 }
.rightforminterface    {
  position:absolute;
  top:.5;
  left:3in;
  width:200px;
}
.buttons {
    margin: .1in .5in;
    position: relative;
    white-space: nowrap;
}
label  {
padding: 5px;
color: white;
}
