<div class="buttons">
  <button class="btn btn-default" ng-click="addEmployeeInfo()">ADD</button>
  <button class="btn btn-default" ng-click="getEmployeeInfo()">EDIT</button>
  <button class="btn btn-default" ng-click="deleteEmployeeInfo()">DELETE</button>
  {{employee}}<br>
  {{master}}
</div>

  <form novalidate>

    <div class="forminterface">
        <div class="leftforminterface">
            <label>Employee Number</label>
            <input type="number" ng-model="employee.number"/><br>
            <label>Employee First Name</label>
            <input type="text" ng-model="employee.firstname"/><br>
            <label>Employee Last Name</label>
            <input type="text" ng-model="employee.lastname"/><br>
            <label type="text">Employee Middle Name</label>
            <input type="text" ng-model="employee.middlename"/><br>
        </div>

        <div class="rightforminterface">
            <label>Employee Age</label>
            <input type="number" ng-model="employee.age"/><br>
            <label type="text">Employee Designation</label>
               <select ng-model="employee.designation"><br>
                     <option value="Senior Manager">Senior Manager</option>
                     <option value="Assistant Manager">Assistant Manager</option>
                     <option value="Lead">Lead</option>
                     <option value="Senior Consultant">Senior Consultant</option>
                     <option value="Consultant">Consultant</option>
               </select><br>
            <label>Salary</label>
            <input type="number" ng-model="employee.salary"/>
        </div>
    </div>
   </form>
