    <div class="buttons">
      <button class="btn btn-success" ng-disabled="!employeeForm.$valid" ng-click="addEmployeeInfo(employee)">ADD</button>
      <button class="btn btn-info" ng-click="getEmployeeInfo()">EDIT</button>
      <button class="btn btn-danger" ng-click="deleteEmployeeInfo()">DELETE</button>

     <!-- Validation message -->
     <span class=inValid-message ng-if="formInvalidMessage"><strong>Please complete all required fields.</strong></span>
     <span class=isValid-message ng-if="employeeForm.$valid"><strong>Ready to submit!</strong></span>
    </div>
  <form class="form-virtical" role="form" name="employeeForm" novalidate>

    <div>
        <div class="form-group">
                <div class="col-sm-6">
                <!-- <label>Employee Number</label>
                <input type="number" ng-model="employee.number"/><br> -->
                <label>Employee First Name<span class=required-asterix>*</span></label>

                <!-- <input type="text" ng-model="employee.firstname" ng-change="validateFirstName(employee.firstname)"/><br>
                    <p class="error-message" ng-if="firstNameIsInvalid">
                        {{firstNameValidationMessage}}
                    </p> -->
                <input class="form-control" type="text" minlength=3 maxlength=15 ng-model="employee.firstname" required/><br>

                <label>Employee Last Name<span class=required-asterix>*</span></label>
                <input class="form-control" type="text" minlength=3 maxlength=15 ng-model="employee.lastname" required/><br>

                <label>Employee Middle Name<span class=notrequired-asterix>*</span></label>
                <input class="form-control" type="text" ng-model="employee.middlename"/><br>
            </div>

            <div class="col-sm-6">

                <label>Employee Age<span class=required-asterix>*</span></label>
                <input class="form-control" type="number" min=18 max=65 ng-model="employee.age" required/><br>

                <label>Employee Designation<span class=required-asterix>*</span></label>
                   <select class="form-control" ng-model="employee.designation" required><br>
                         <option value="Senior Manager">Senior Manager</option>
                         <option value="Assistant Manager">Assistant Manager</option>
                         <option value="Lead">Lead</option>
                         <option value="Senior Consultant">Senior Consultant</option>
                         <option value="Consultant">Consultant</option>
                   </select><br>

                <label>Salary<span class=required-asterix>*</span></label>
                <input class="form-control" type="number" min=1 ng-model="employee.salary" required/>
            </div>
        </div>
    </div>
   </form>
