<div class="table-container">
<table border="1">
  <caption>Employee Database Management</caption>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Age</th>
      <th>Position</th>
      <th>Salary</th>
    </tr>
    <tr ng-class="{'selectEmployee':employee.isSelected,'':!employee.isSelected}"
     ng-click="selectEmployee(employee)" ng-repeat="employee in employeeInfo | limitTo: 15">
      <td>{{employee.number}}</td>
      <td>{{employee.lastname + ", "}}{{employee.firstname}} {{employee.middlename}}</td>
      <td>{{employee.age | number}}</td>
      <td>{{employee.designation}}</td>
      <td>{{employee.salary | currency}}</td>
    </tr>
</table>
</div>
