    <!-- Table showing database -->
    <main class="table-responsive">
        <table class="table" border="1">
            <caption><h4>Employee Database Management</h4></caption>
              <tr id="table-headers">
                <th>No.</th>
                <th>Name</th>
                <th>Age</th>
                <th>Position</th>
                <th>Salary</th>
              </tr>
              <tr class="table-hover" ng-class="{'selectEmployee':employee.isSelected,'':!employee.isSelected}"
               ng-click="selectEmployee(employee)" ng-repeat="employee in employees | limitTo: 10">
                <td>{{employee.value.number}}</td>
                <td>{{employee.value.lastname | uppercase}}, {{employee.value.firstname | uppercase}} {{employee.value.middlename | uppercase}}</td>
                <td>{{employee.value.age | number}}</td>
                <td>{{employee.value.designation}}</td>
                <td>{{employee.value.salary | currency}}</td>
              </tr>
        </table>
    </main>

<!-- @Buttons: ADD, EDIT, DELETE -->
<section>
    <button class="btn btn-success" ng-click="addEmployeeInfo(employee)">ADD</button> <!-- ng-disabled="!employeeForm.$valid"-->
    <button class="btn btn-info" ng-click="editEmployeeInfo(employee)">EDIT</button>
    <button class="btn btn-danger" ng-click="deleteEmployeeInfo(employee)">DELETE</button>

    <!-- Validation message -->
    <!-- <span class=inValid-message ng-if="formInvalidMessage"><strong>Please complete all required fields.</strong></span> -->
    <!-- <span class=isValid-message ng-if="employeeForm.$valid"><strong>Ready to submit!</strong></span> -->
</section>

<!-- Container for the form -->
<article class="form">
<form class="form-virtical" name="employeeForm" novalidate>

        <section class="form-group"><hr>
            <header>Employee Information</header>
            <label>Employee Number: {{employee.number}}</label>
            <input type="number" ng-model="employee.number"/><br>
            <div>
                <div class="col-sm-3">
                    <label>First Name<span class="required-asterix">*</span></label>
                    <input class="form-control" type="name" minlength=3 maxlength=15 ng-model="employee.firstname" pattern="\D*" required/><br>

                    <!-- <input type="text" ng-model="employee.firstname" ng-change="validateFirstName(employee.firstname)"/><br>
                        <p class="error-message" ng-if="firstNameIsInvalid">
                            {{firstNameValidationMessage}}
                        </p> -->

                    <label>Last Name<span class="required-asterix">*</span></label>
                    <input class="form-control" type="text" minlength=3 maxlength=15 ng-model="employee.lastname" pattern="\D*" required/><br>

                    <label>Middle Name<span class="notrequired-asterix">*</span></label>
                    <input class="form-control" type="text" ng-model="employee.middlename" maxlength=15 pattern="\D*"/><br>
                </div>


                <div class="col-sm-4">
                    <label>Age<span class="required-asterix">*</span></label>
                    <input class="form-control" type="text" min=14 max=70 maxlength=2 ng-model="employee.age" pattern="\d*" required/><br>

                    <label>Designation<span class="required-asterix">*</span></label>
                       <select class="form-control" ng-model="employee.designation" required><br>
                             <option value="Senior Manager">Senior Manager</option>
                             <option value="Assistant Manager">Assistant Manager</option>
                             <option value="Lead">Lead</option>
                             <option value="Senior Consultant">Senior Consultant</option>
                             <option value="Consultant">Consultant</option>
                       </select><br>

                    <label>Salary<span class="required-asterix">*</span></label>
                    <input class="form-control" type="number" min=0 max=9999999999 ng-model="employee.salary" pattern="\d*" required/>
                </div>
            </div>
        </section>
</form>
</article>
