body {
    color: grey;
    background-color: black;
    margin: 5em;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
tr, td, th {
  border: 1px solid grey;
}
td, th {
  padding: 1px 16px;
}
table {
  margin-left: .5in;
  margin-right: .5in;
}
#top, #bottom {
    position: fixed;
    left: .5in;
    right: .5in;
    height: 50%;
}
#top {
    top: .5;
    background-color: #333;
    overflow: scroll;
}
#bottom {
    bottom: 0;
    background-color: #000;
}
