[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
    color: grey;
    background-color: black;
    margin: 3em 5em;
}
caption {
   color: #ffe8e8;
   font: sans serif;
   letter-spacing: 1px;
}
tr, td, th {
  border: 1px solid #555;
  padding: 2px 16px;
}
.table-container {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    color: #ffe8e8;
    margin-left: .5in;
}
#top, #bottom {
    position: fixed;
    left: .5in;
    right: .5in;
    overflow-y: auto;
    overflow-x: auto;
}
#top {
    top: .5;
    background-color: #222;
    height: 44%;
//    border: 3px solid white;
}
#bottom {
    bottom: 0;
    background-color: #000;
    height: 56%;
}
.buttons {
    margin: .2in .5in;
}
option {
    margin-left: 5in;
}
label  {
padding: 5px;
color: white;
}
.interface {
    position:relative;
}
.Ainterface    {
    position:absolute;
    top:.5;
    left:.5;
    width:200px;
    color: black;
}
.Binterface    {
    position:absolute;
    top:.5;
    left:3in;
    width:200px;
    color: black;
}
