<div  class="form-group" ng-controller="MyController">
		<form>
			<div>
					<input class="form-control" type="text" id="name" name="myName" ng-model="myForm.myName"
							ng-minlength="5" ng-maxlength="12" required>
						<label for="name">Name</label>
					<input class="form-control" type="text" name="phoneNumber" ng-model="myForm.phoneNumber" required>
						<label for="tel">Telephone number</label>
					<input class="form-control" type="text" name="myEmail" ng-model="myForm.myEmail" required>
						<label for="e-mail">e-mail</label>
					<input class="form-control" type="text" name="myDetails" ng-model="myForm.myDetails" required>
						<label for="details">My details</label>
			</div>
			<div>
					<input class="btn btn-default" type="submit" value="SEND"/>
					<input class="btn btn-default" type="reset" value="CLEAR"/>
					<button class="btn btn-default" ng-click="myForm.sendToTadmar()">Send to Tadmar</button>
			</div>
			<div>
				<input type="checkbox" ng-model="myForm.wantNewsletter"
									ng-true-value="yes" ng-false-value="no" >
					<label>Add me to your mailing list</label><br/>
				<input type="radio" ng-model="myForm.whichNewsletter" value="weeklyNews">
					<label>Weekly mail</label><br/>
				<input type="radio" ng-model="myForm.whichNewsletter" value="monthlyNews">
					<label>Monthly mail</label>
			</div>

					<div>
						<div>{{myForm.myName}}</div>
						<div>{{myForm.phoneNumber}}</div>
						<div>{{myForm.myEmail}}</div><br/>
						<textarea>{{myForm.myDetails}}</textarea>
						<div ng-if="wantNewsLetter.showIt">{{myForm.wantNewsLetter}}</div>
					</div>
		</form>
	</div>
